@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  overflow-x: hidden;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

a {
  display: block;
  text-decoration: none;
  color: #666666;
}

a:hover {
  text-decoration: none;
}

.btn-primary {
  background: #0094DE;
  border-radius: 0;
  border: 0;
  padding: 5px 12px;
}

.btn-primary:hover {
  background: #0072ab;
}

.btn--readmore {
  background: #99181B;
  border-radius: 0;
  color: #ffffff;
  margin-top: 25px;
}

.btn--readmore:hover {
  color: #ffffff;
  background: #570e0f;
}

.l-header .c-top {
  padding: 5px 0;
  background: #f0f0f0;
}

.l-header .c-top .c-contact {
  margin: 12px 0;
  padding-left: 0;
}

.l-header .c-top .c-contact li {
  display: inline-block;
  margin-right: 15px;
}

.l-header .c-top .c-contact a {
  display: inline;
}

.l-header .c-top .c-lang__booking {
  margin: 5px 0;
}

.l-header .c-top .c-lang__language {
  margin: 8px 0;
  padding-left: 0;
}

.l-header .c-top .c-lang__language li {
  margin-left: 8px;
  display: inline-block;
}

.l-header .c-top .top__social {
  margin: 0;
  padding-left: 0;
}

.l-header .c-top .top__social .facebook {
  background: #3B5998;
}

.l-header .c-top .top__social .twitter {
  background: #1DA1F2;
}

.l-header .c-top .top__social .instagram {
  background: #A6795A;
}

.l-header .c-top .top__social .google-plus {
  background: #DC4A38;
}

.l-header .c-top .top__social .youtube {
  background: #D32121;
}

.l-header .c-top .top__social li {
  display: inline-block;
  padding: 8px 4px;
}

.l-header .c-top .top__social a {
  padding: 4px 8px;
  border-radius: 25px;
}

.l-header .c-top .top__social img {
  width: 12px;
}

.l-header .navbar-collapse.collapse {
  padding-right: 0;
}

.l-header .c-nav {
  padding: 5px 0;
}

.l-header .c-nav .c-nav__logo a {
  display: inline-block;
}

.l-header .c-nav .c-nav__logo img {
  width: 150px;
}

.l-header .c-nav .navbar {
  margin-top: 25px;
  margin-bottom: 0;
}

.l-header .c-nav .nav a {
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;
}

.l-header .c-nav .nav > li > a:hover, .l-header .c-nav .nav > li > a:focus {
  background-color: #0094DE;
  color: #ffffff;
}

.l-header .c-nav li.active a {
  color: #0094DE;
}

.l-banner {
  position: relative;
  margin-bottom: 35px;
}

.l-banner .carousel-inner {
  max-height: 465px;
  height: 465px;
  overflow: hidden;
}

.l-banner .carousel-caption {
  width: 100%;
  height: 465px;
  text-align: left;
  font-weight: 600;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 25px;
}

.l-banner .carousel-caption h2 {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 35%;
  width: 65%;
  color: #f9f9f9;
  text-shadow: 2px 2px #333;
  background: rgba(153, 24, 27, 0.4);
  padding: 15px;
  text-align: center;
}

.l-banner .c-booking {
  border: 2px solid #d7d7d7;
  padding: 11px 8px;
}

.l-banner .c-booking h4 {
  margin: 0;
}

.l-banner .c-booking a {
  padding: 12px 35px;
}

.l-banner .c-production__box {
  background: #d7d7d7;
  color: #ffffff;
  padding: 4px;
  margin-bottom: 7px;
}

.l-banner .c-production__box a {
  padding: 14px 8px;
  color: #ffffff;
}

.l-banner .c-production__box a.even {
  background: #99181B;
}

.l-banner .c-production__box a.even:hover {
  background: #6d1113;
}

.l-banner .c-production__box a.odd {
  background: #0094DE;
}

.l-banner .c-production__box a.odd:hover {
  background: #0072ab;
}

.l-banner .c-production__box h4 {
  display: inline;
  position: relative;
  top: 2px;
  left: 8px;
  margin: 0;
  font-size: 14px;
}

.l-main .c-heading {
  margin-bottom: 40px;
}

.l-main .c-heading h2 {
  font-family: 'Raleway', sans-serif;
  color: #8A8282;
  font-weight: 600;
  margin-bottom: 4px;
}

.l-main .c-heading span {
  color: #666666;
}

.l-main .c-intro {
  margin-bottom: 70px;
  text-align: center;
  padding: 70px 0;
  background: #f0f0f0;
}

.l-main .c-update {
  margin-bottom: 70px;
}

.l-main .c-update .c-update__module {
  max-height: 305px;
  overflow: hidden;
  border: 1px solid #d7d7d7;
}

.l-main .c-update .module__img {
  position: relative;
}

.l-main .c-update .module__img img {
  width: 100%;
}

.l-main .c-update .module__content {
  color: #ffffff;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 60%;
  padding: 15px 25px;
  right: 15px;
}

.l-main .c-update .module__content h4 {
  font-weight: 700;
}

.l-main .c-update .module__content p {
  margin: 15px 0 25px;
}

.l-main .c-update .module__content a {
  background: #ffffff;
  border-radius: 0;
}

.l-main .c-update .module__content a:hover {
  background: #0094DE;
  color: #ffffff;
}

.l-main .c-update .schedule__box {
  border: 1px solid #d7d7d7;
  margin-bottom: 15px;
}

.l-main .c-update .schedule__box--info {
  padding-left: 15px;
}

.l-main .c-update .schedule__box--info h4 {
  font-weight: 600;
}

.l-main .c-update .schedule__box--info p {
  font-size: 13px;
}

.l-main .c-update .schedule__box--info a {
  display: inline-block;
}

.l-main .c-update .schedule__box--info i {
  color: #99181B;
  font-size: 18px;
}

.l-main .c-update .schedule__box--date {
  min-height: 90px;
  background: #0094DE;
  color: #ffffff;
  text-align: center;
}

.l-main .c-update .schedule__box--date span {
  position: relative;
  top: 35px;
  font-weight: 700;
}

.l-main .c-program {
  padding: 70px 0;
  background: #f0f0f0;
}

.l-main .c-program .c-program__box {
  background: #ffffff;
  padding: 15px;
  position: relative;
  top: 50px;
  min-height: 255px;
  margin-bottom: 70px;
}

.l-main .c-program .c-program__box h3 {
  color: #8A8282;
  margin-top: 45px;
  font-weight: 700;
}

.l-main .c-program .c-program__box p {
  color: #8A8282;
  margin-top: 25px;
}

.l-main .c-program .c-program--logo {
  position: absolute;
  top: -45px;
  left: 52%;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}

.l-main .c-view {
  background: #252525;
  color: #ffffff;
  padding: 70px 0;
}

.l-main .c-view .video-desc {
  border-right: 1px solid #d7d7d7;
}

.l-main .c-view .video-desc h3 {
  margin: 25px 0 35px;
}

.l-main .c-view .video-desc p {
  font-size: 14px;
  color: #e5e5e5;
}

.l-main .c-view .video-desc .btn--readmore {
  background: #ffffff;
  color: #666666;
}

.l-main .c-view .video-desc .btn--readmore:hover {
  background: #0094DE;
  color: #ffffff;
}

.l-main .c-view ul {
  margin-top: 25px;
}

.l-main .c-view li {
  display: block;
  margin-bottom: 15px;
  color: #e5e5e5;
}

.l-main .c-view li a {
  color: #ffffff;
  display: inline-block;
}

.l-main .c-view li a i {
  padding-left: 5px;
}

.l-main .c-subscribe {
  background: #f0f0f0;
  padding: 35px 0;
}

.l-main .c-subscribe .newsletter h2 {
  color: #8A8282;
  font-weight: 700;
}

.l-main .c-subscribe .newsletter .form {
  margin-top: 25px;
}

.l-main .c-subscribe .newsletter .form input, .l-main .c-subscribe .newsletter .form select, .l-main .c-subscribe .newsletter .form button {
  height: 45px;
}

.l-main .c-subscribe .newsletter .form button {
  background: #99181B;
  color: #ffffff;
  border-radius: 0;
}

.l-main .c-subscribe .newsletter .form button:hover {
  background: #570e0f;
}

.l-main .c-subscribe .download {
  background: #ffffff;
  padding: 8px 15px;
  border: 3px solid #0094DE;
  border-radius: 15px;
}

.l-main .c-subscribe .download h3 {
  margin: 8px 0;
}

.l-main .c-subscribe .download h3, .l-main .c-subscribe .download span {
  color: #8A8282;
}

.l-main .c-subscribe .download ul {
  margin-top: 15px;
  padding-left: 0;
}

.l-main .c-subscribe .download ul li {
  display: block;
}

.l-main .c-subscribe .download ul li a {
  border-bottom: 1px solid #d7d7d7;
  padding: 8px 0;
}

.l-main .c-subscribe .download ul i {
  color: #99181B;
  font-weight: 700;
  padding-right: 5px;
}

.l-footer .c-footer__top {
  color: #ffffff;
  padding: 35px 0 25px;
  background: #00a5f8;
}

.l-footer .c-footer__top ul {
  padding-left: 0;
}

.l-footer .c-footer__top li {
  display: block;
}

.l-footer .c-footer__top img {
  padding: 8px;
  border: 1px solid #ffffff;
  margin-bottom: 15px;
  background: #99181B;
}

.l-footer .c-footer__top a {
  color: #ffffff;
}

.l-footer .c-footer__top a:hover {
  color: #99181B;
}

.l-footer .social {
  padding-top: 35px;
  background: #0094DE;
}

.l-footer .footer__social {
  margin: 0 auto;
  padding-left: 0;
  display: table;
}

.l-footer .footer__social li {
  margin: 0 8px;
  display: inline-block;
}

.l-footer .footer__social a {
  padding: 8px;
  border: 1px solid #ffffff;
}

.l-footer .footer__social .facebook:hover {
  background: #3B5998;
}

.l-footer .footer__social .twitter:hover {
  background: #1DA1F2;
}

.l-footer .footer__social .instagram:hover {
  background: #A6795A;
}

.l-footer .footer__social .google-plus:hover {
  background: #DC4A38;
}

.l-footer .footer__social .youtube:hover {
  background: #D32121;
}

.l-footer .c-footer__bottom {
  padding: 35px 0 10px;
  background: #0094DE;
}

.l-footer .c-footer__bottom .logo {
  margin-bottom: 25px;
}

.l-footer .c-footer__bottom .footer__nav {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 35px;
}

.l-footer .c-footer__bottom .footer__nav li {
  display: inline-block;
}

.l-footer .c-footer__bottom .footer__nav li a {
  color: #ffffff;
  padding: 8px;
}

.l-footer .c-footer__bottom .footer__nav li a:hover {
  color: #99181B;
}

.l-footer .c-footer__bottom .copyright {
  padding-top: 10px;
  color: #363636;
  font-size: 14px;
  margin-bottom: 15px;
}

.l-question {
  position: fixed;
  left: 105px;
  bottom: 0;
  z-index: 1000;
  padding: 12px;
  background: #99181B;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.l-question a {
  color: #ffffff;
}

.top {
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}

.top img {
  width: 50px;
}

.booking-btn {
  border-radius: 0;
  background: #99181B;
  color: #fff;
}

.booking-btn:hover {
  background: #6d1113;
}
