.logo {
    width: 175px;
}

.login_content form input[type="submit"], #content form .submit {
    float: left;
    margin-left: 0;
}

.login_content div .reset_pass {
    float: none;
    margin-right: 0;
}

.error-messgage-wrapper {
    margin: 0 auto !important;
    max-width: 350px;
    position: relative;
    right: 0;
}
.login_wrapper {
    margin: 0 auto !important;
}